* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    /* выше установили ограничения для секции */
}

.header__title {
    margin-left: 64px;
    font-size: 102px;
    font-weight: 600;
    line-height: 96px;
    max-width: 730px;
}

.header__subtitle {
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 338px;
    line-height: 25px;
    font-size: 18px;
}

.header__subtitle a {
    text-decoration: none;
    color: #2f80ed;
}

.header__image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 765px;
    max-height: 608px;
    z-index: 1;
}

.logo {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.logo_place_header {
    background-image: url('../images/logo_place_header.svg');
    width: 183px;
    height: 32px;
    position: absolute;
    top: 30px;
    left: 64px;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    position: absolute;
    top: 64px;
    right: 0;
}


/* и элемента с модификатором вида ключ-значение */

.two-columns {
    display: flex;
    margin: 100px auto;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    color: #2f80ed;
    line-height: 1.2em;
    font-size: 18px;
    font-weight: 400;
}

.two-columns__main-text {
    min-width: 784px;
    width: 80%;
    font-weight: 400;
}

.two-columns__paragraph {
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph:nth-of-type(2) {
    margin: 30px 0;
}

.two-columns__span-accent {
    font-weight: 600;
}

.section__title {
    margin: auto;
    width: 60%;
    text-align: center;
    line-height: 1.15em;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section__subtitle {
    margin: auto;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0 auto 100px;
    justify-content: space-between;
    z-index: 3;
}

.table__cell {
    width: 250px;
    margin: 60px auto 0;
}

.table__heading {
    line-height: 1.15em;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table__text {
    line-height: 1.15em;
    font-size: 18px;
    font-weight: 400;
}

.table__text span {
    display: inline-block;
    margin-top: 20px;
}

.feinman {
    background-image: url('../images/feynman.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 790px;
    position: relative;
}

.feinman__title {
    width: 648px;
    margin: auto;
    text-align: center;
    line-height: 1.15em;
    font-size: 120px;
    font-weight: 600;
}

.feinman__subtitle {
    margin: 70px auto;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
}

.feinman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    text-decoration: none;
    color: #000000;
    line-height: 51px;
    font-size: 36px;
    font-weight: 400;
}

.kaufman {
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
    padding: 90px 0;
}

.kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    z-index: 1;
}

.section__title_theme_dark {
    color: white;
    line-height: 69px;
    font-size: 60px;
    font-weight: 600;
}

.section__subtitle_theme_dark {
    color: white;
    line-height: 34px;
    font-size: 24px;
    font-weight: 400;
}

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    z-index: 3;
}

.table__heading_theme_dark {
    line-height: 1.15em;
    font-size: 24px;
    font-weight: 600;
}

.table__text_theme_dark {
    line-height: 1.2em;
    font-size: 18px;
    font-weight: 400;
}

.footer {
    background-color: #1f1f1f;
    min-height: 350px;
    color: #ffffff;
    padding: 60px 0 40px 0;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    min-height: inherit;
}

.footer__column {
    flex-direction: column;
    min-height: 100%;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    position: relative;
}

.logo_place_footer {
    background-image: url('../images/logo_place_footer.svg');
    width: 183px;
    height: 35px;
    margin-top: auto;
}

.footer__author {
    position: absolute;
    bottom: 0;
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
}

.footer__column-heading {
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 600;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.footer__social-icon {
    display: flex;
    flex-direction: column;
}

.footer__social-icon a {
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}